h1, h2, h3, p, .recipe-card, .recipe-card-slider, .view-recipe-btn {
    font-family: Georgia, 'Times New Roman', Times, serif; 
}  

h1, h2 {
    text-align: center;
}

/* Top Recipes Slider Styles */
.top-recipes-slider {
    margin: 20px auto 40px;
    padding: 20px 0;
    background-color: #EAF2CE;
    border-radius: 10px;
    text-align: center;
}

.recipe-card-slider {
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.recipe-card-slider:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.recipe-card-slider img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.recipe-card-slider .view-recipe-btn {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: #000000;
    color: white;
    transition: background-color 0.3s;
}

.recipe-card-slider .view-recipe-btn:hover {
    background-color: #000000;
}

/*Recipe Card Styles*/
.recipe-list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

.recipe-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ceeec0;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.recipe-card-large {
    max-width: 350px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.recipe-card-small {
    max-width: 250px;
    padding: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.recipe-card .view-recipe-btn {
    width: 100%;
    padding: 10px 15px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    background-color: #88BF50;
    color: white;
    text-align: center;
    transition: background-color 0.3s;
}

.recipe-card .view-recipe-btn:hover {
    background-color: #2f5a04;
}

.top-recipes-slider .prev-arrow, 
.top-recipes-slider .next-arrow {
    display: none; 
}