/* General styling for the MyRecipes page */
.my-recipes {
  padding: 20px;
}
.my-recipes h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #035c07;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.recipe-card {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.recipe-card h2 {
  font-size: 1.5rem;
  margin: 15px 0;
  color: #014817;
}

.recipe-card p {
  color: #0a0000;
  font-size: 1rem;
}

.view-recipe-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.view-recipe-btn:hover {
  background-color: #45a049;
}

.delete-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #d20000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.delete-btn:hover {
  background-color: hsl(0, 72%, 26%);
}

.delete-btn:focus {
  outline: none;
}

/* Edit Recipe button */
.edit-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #f7941c; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.edit-btn:hover {
  background-color: #b74f00; 
}

.edit-btn:focus {
  outline: none;
}